name: Deploy to Cloud Run

on:
  workflow_dispatch:

env:
  PROJECT_ID: ethnolens-ai
  SERVICE_NAME: ethnolens-backend
  REGION: us-central1

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Google Auth
        id: auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Deploy to Cloud Run
        id: deploy
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: ${{ env.SERVICE_NAME }}
          region: ${{ env.REGION }}
          source: .
          flags: '--allow-unauthenticated'

      - name: Show New URL
        run: echo "Your new URL is ${{ steps.deploy.outputs.url }}"